*{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: black;
}
body{
  display: grid;
  grid-template-columns:80px 1fr;
  grid-template-areas: 
  "sidebar navbar"
  "sidebar main"
  "sidebar main"
  ;
}
aside{
  grid-area: sidebar;
  color:white;
}

.heading{
  grid-area: navbar;
  padding:0.5rem;
  display: flex;
  align-items: center;
  gap:5rem;
  justify-content: space-around;

  line-height: 3;
}
main{
  grid-area: main;
  color:white;
}
.youtube{
  cursor: pointer;
 
  font-size: 1.4rem;
  font-weight: bold;
  color:white;

  list-style: none;

}
.icons{
  color:white;
  list-style: none;
}
.create{
  cursor: pointer;
  font-size: medium;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white;
  border-radius: 50px;
  height:2rem;
  width:6rem;
  padding:0.2rem;
  border: none;
  background:rgb(32, 31, 31);
  list-style: none;

}

.create:hover{
  background-color: rgb(58, 58, 58);
}
.create:active{
  background-color: rgb(108, 104, 104);
}
.search{
  list-style: none;
  border:none;
  width:10rem;
}
.search input{
  cursor: pointer;
  color:rgb(254, 250, 250);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border:none;
  width:20rem;

  border-radius: 20px;
  border: 0.1px solid rgb(49, 42, 42);


}
.voicebtn{ 
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  color:white;
}
.voicebtn:hover{
  .voice{
    opacity: 1;
  }
}
.voice{
  opacity: 0;
  position: fixed;
  padding:4px;
  border-radius: 10px;
  top:3rem;
  font-size: small;
  background: grey;
  
}
.bell{
  list-style: none;

  color:white;
}


.recommend{
  margin-top: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:20px;


}
.profile{
  list-style-type: none;
  color:white;
}


.title{
  cursor: pointer;
  height:33px;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 10px;
  background: rgb(32, 31, 31);
  color:rgb(237, 234, 234);
  padding:5px 10px;
  font-weight: bolder;
}
.title:active{
  background-color: white;
  color:black;
}